[project]
	description = An example application using AnguarJS/Bootstrap as frontend and Spring MVC as REST API producer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hantsy Bai (hantsy)
[access "refs/for/refs/*"]
	read = group user/Hantsy Bai (hantsy)
	push = group user/Hantsy Bai (hantsy)
	label-Code-Review = -2..+2 group user/Hantsy Bai (hantsy)
	label-Verified = -1..+1 group user/Hantsy Bai (hantsy)
	rebase = group user/Hantsy Bai (hantsy)
	removeReviewer = group user/Hantsy Bai (hantsy)
	submit = group user/Hantsy Bai (hantsy)
[access "refs/heads/*"]
	read = group user/Hantsy Bai (hantsy)
	create = group user/Hantsy Bai (hantsy)
	push = +force group user/Hantsy Bai (hantsy)
	pushMerge = group user/Hantsy Bai (hantsy)
[access "refs/tags/*"]
	push = +force group user/Hantsy Bai (hantsy)
	pushTag = group user/Hantsy Bai (hantsy)
	pushSignedTag = group user/Hantsy Bai (hantsy)
